In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import os
os.chdir('downloads')

In [3]:
os.getcwd()

'C:\\Users\\petri\\downloads'

In [4]:
# Load the Excel file
excel_file = pd.ExcelFile('Country-Nutrition-Profiles-data_February_2023.xlsx')

# Get the sheet names
sheet_names = excel_file.sheet_names

In [5]:
# Read the data from a specific sheet
sheet_name = sheet_names[1]  # Select the second sheet, for example
df_indicator_descriptions = pd.DataFrame(excel_file.parse(sheet_name))

# Display the first few rows of the DataFrame
df_indicator_descriptions.head(20)

,section name,variable,description
0,The burden of malnutrition at a glance,anaemia_track,Progress against global anaemia target (status...
1,The burden of malnutrition at a glance,lbw_track,Progress against global low birth weight targe...
2,The burden of malnutrition at a glance,ebf_track,Progress against global exclusive breastfeedin...
3,The burden of malnutrition at a glance,under_5_stunting_track,Progress against global child stunting target ...
4,The burden of malnutrition at a glance,under_5_wasting_track,Progress against global child wasting target (...
5,The burden of malnutrition at a glance,under_5_overweight_track,Progress against global child overweight targe...
6,The burden of malnutrition at a glance,adult_fem_obesity_track,"Progress against global adult obesity target, ..."
7,The burden of malnutrition at a glance,adult_mal_obesity_track,"Progress against global adult obesity target, ..."
8,The burden of malnutrition at a glance,adult_fem_diabetes_track,"Progress against global diabetes target, femal..."
9,The burden of malnutrition at a glance,adult_mal_diabetes_track,"Progress against global diabetes target, male ..."
10,The burden of malnutrition at a glance,rbp_female_track,Progress against global raised blood pressure ...
11,The burden of malnutrition at a glance,rbp_male_track,Progress against global raised blood pressure ...
12,The burden of malnutrition at a glance,sodium_track,Progress against global sodium intake target (...
13,Diet,early_initiation,Children born in the last 24 months who were p...
14,Diet,exclusive_breastfeeding,Infants aged 0–5 months who received only brea...
15,Diet,solid_foods,"Infants aged 6–8 months who received solid, se..."
16,Diet,continued_breastfeeding_1yr,Children aged 12–15 months who received breast...
17,Diet,continued_breastfeeding_2yr,Children aged 20–23 months who received breast...
18,Diet,minimum_diet_diversity,Children aged 6–23 months who received foods f...
19,Diet,minimum_meal,"Children aged 6–23 months who received solid, ..."

In [6]:
#loop through the sheets and get the data

for sheet_name in sheet_names:
  sheet_data= pd.read_excel(excel_file, sheet_name)
  print(f"Data for sheet {sheet_name}: ")
  print(sheet_data)

Data for sheet Cover:
   Unnamed: 0  Unnamed: 1 Global Nutrition Report: Country Nutrition Profiles
0         NaN         NaN                          globalnutritionreport.org
1         NaN         NaN                                                NaN
2         NaN         NaN                                                NaN
3         NaN         NaN  For full details on methodology, please visit:...
4         NaN         NaN                                                NaN
5         NaN         NaN  Suggested citation: Global Nutrition Report: C...
Data for sheet Indicator descriptions:
                               section name  \
0    The burden of malnutrition at a glance
1    The burden of malnutrition at a glance
2    The burden of malnutrition at a glance
3    The burden of malnutrition at a glance
4    The burden of malnutrition at a glance
..                                      ...
130                   Environmental Impacts
131                   Environmental Impacts
132                   Environmental Impacts
133                   Environmental Impacts
134                   Environmental Impacts

                                    variable  \
0                              anaemia_track
1                                  lbw_track
2                                  ebf_track
3                     under_5_stunting_track
4                      under_5_wasting_track
..                                       ...
130          environmental_impacts_oils_2018
131  environmental_impacts_pork_poultry_2018
132         environmental_impacts_roots_2018
133         environmental_impacts_sugar_2018
134                       impacts_total_2018

                                           description
0    Progress against global anaemia target (status...
1    Progress against global low birth weight targe...
2    Progress against global exclusive breastfeedin...
3    Progress against global child stunting target ...
4    Progress against global child wasting target (...
..                                                 ...
130  Environmental footprint of oils on food system...
131  Environmental footprint of pork and poultry on...
132  Environmental footprint of roots on food syste...
133  Environmental footprint of sugar on food syste...
134  Total environmental footprint of food componen...

[135 rows x 3 columns]
Data for sheet Country glance:
    iso3               country disaggregation  disagg.value   region  \
0    AFG           Afghanistan            all           NaN     Asia
1    AGO                Angola            all           NaN   Africa
2    ALB               Albania            all           NaN   Europe
3    AND               Andorra            all           NaN   Europe
4    ARE  United Arab Emirates            all           NaN     Asia
..   ...                   ...            ...           ...      ...
189  WSM                 Samoa            all           NaN  Oceania
190  YEM                 Yemen            all           NaN     Asia
191  ZAF          South Africa            all           NaN   Africa
192  ZMB                Zambia            all           NaN   Africa
193  ZWE              Zimbabwe            all           NaN   Africa

           subregion                                 section  \
0      Southern Asia  The burden of malnutrition at a glance
1      Middle Africa  The burden of malnutrition at a glance
2    Southern Europe  The burden of malnutrition at a glance
3    Southern Europe  The burden of malnutrition at a glance
4       Western Asia  The burden of malnutrition at a glance
..               ...                                     ...
189        Polynesia  The burden of malnutrition at a glance
190     Western Asia  The burden of malnutrition at a glance
191  Southern Africa  The burden of malnutrition at a glance
192   Eastern Africa  The burden of malnutrition at a glance
193   Eastern Africa  The burden of malnutrition at a glance

    adult_fem_diabetes_track adult_fem_obesity_track adult_mal_diabetes_track  \
0                 Off course              Off course               Off course
1                 Off course              Off course               Off course
2                 Off course              Off course               Off course
3                  On course              Off course               Off course
4                 Off course              Off course               Off course
..                       ...                     ...                      ...
189               Off course              Off course               Off course
190               Off course              Off course               Off course
191               Off course              Off course               Off course
192               Off course              Off course               Off course
193               Off course              Off course               Off course

    adult_mal_obesity_track             anaemia_track  \
0                Off course  No progress or worsening
1                Off course  No progress or worsening
2                Off course  No progress or worsening
3                Off course  No progress or worsening
4                Off course  No progress or worsening
..                      ...                       ...
189              Off course  No progress or worsening
190              Off course  No progress or worsening
191              Off course  No progress or worsening
192              Off course  No progress or worsening
193              Off course             Some progress

                    ebf_track                 lbw_track rbp_female_track  \
0                   On course                   No data       Off course
1                     No data             Some progress       Off course
2    No progress or worsening                 On course       Off course
3                     No data  No progress or worsening        On course
4                     No data  No progress or worsening        On course
..                        ...                       ...              ...
189                 On course                   No data       Off course
190                   No data                   No data       Off course
191                   No data  No progress or worsening       Off course
192  No progress or worsening             Some progress       Off course
193             Some progress  No progress or worsening       Off course

    rbp_male_track sodium_track under_5_overweight_track  \
0       Off course   Off course                On course
1       Off course   Off course               Off course
2       Off course   Off course                On course
3        On course      No data                  No data
4        On course   Off course                  No data
..             ...          ...                      ...
189     Off course   Off course                On course
190     Off course   Off course                On course
191     Off course   Off course                On course
192     Off course   Off course                On course
193     Off course   Off course                On course

       under_5_stunting_track     under_5_wasting_track
0               Some progress             Some progress
1    No progress or worsening                 On course
2                   On course                 On course
3                     No data                   No data
4                     No data                   No data
..                        ...                       ...
189  No progress or worsening                 On course
190             Some progress  No progress or worsening
191  No progress or worsening                 On course
192             Some progress                 On course
193                 On course                 On course

[194 rows x 20 columns]
Data for sheet Region glance:
                             region disaggregation  disagg.value  \
0                            Africa            all           NaN
1                              Asia            all           NaN
2         Australia and New Zealand            all           NaN
3                         Caribbean            all           NaN
4                   Central America            all           NaN
5                      Central Asia            all           NaN
6                    Eastern Africa            all           NaN
7                      Eastern Asia            all           NaN
8                    Eastern Europe            all           NaN
9                            Europe            all           NaN
10                           Global            all           NaN
11  Latin America and the Caribbean            all           NaN
12                        Melanesia            all           NaN
13                       Micronesia            all           NaN
14                    Middle Africa            all           NaN
15                    North America            all           NaN
16                  Northern Africa            all           NaN
17                 Northern America            all           NaN
18                  Northern Europe            all           NaN
19                          Oceania            all           NaN
20                        Polynesia            all           NaN
21               South-eastern Asia            all           NaN
22                    South America            all           NaN
23                  Southern Africa            all           NaN
24                    Southern Asia            all           NaN
25                  Southern Europe            all           NaN
26                   Western Africa            all           NaN
27                     Western Asia            all           NaN
28                   Western Europe            all           NaN

                                   section  \
0   The burden of malnutrition at a glance
1   The burden of malnutrition at a glance
2   The burden of malnutrition at a glance
3   The burden of malnutrition at a glance
4   The burden of malnutrition at a glance
5   The burden of malnutrition at a glance
6   The burden of malnutrition at a glance
7   The burden of malnutrition at a glance
8   The burden of malnutrition at a glance
9   The burden of malnutrition at a glance
10  The burden of malnutrition at a glance
11  The burden of malnutrition at a glance
12  The burden of malnutrition at a glance
13  The burden of malnutrition at a glance
14  The burden of malnutrition at a glance
15  The burden of malnutrition at a glance
16  The burden of malnutrition at a glance
17  The burden of malnutrition at a glance
18  The burden of malnutrition at a glance
19  The burden of malnutrition at a glance
20  The burden of malnutrition at a glance
21  The burden of malnutrition at a glance
22  The burden of malnutrition at a glance
23  The burden of malnutrition at a glance
24  The burden of malnutrition at a glance
25  The burden of malnutrition at a glance
26  The burden of malnutrition at a glance
27  The burden of malnutrition at a glance
28  The burden of malnutrition at a glance

    adult_fem_diabetes_track_Off course_2021  \
0                                         53
1                                         45
2                                          1
3                                         13
4                                          8
5                                          5
6                                         17
7                                          4
8                                         10
9                                         25
10                                       171
11                                        33
12                                         4
13                                         5
14                                         9
15                                         2
16                                         6
17                                         2
18                                         5
19                                        13
20                                         3
21                                         9
22                                        12
23                                         5
24                                         9
25                                         9
26                                        16
27                                        18
28                                         1

    adult_fem_diabetes_track_On course_2021  \
0                                       NaN
1                                       3.0
2                                       1.0
3                                       NaN
4                                       NaN
5                                       NaN
6                                       NaN
7                                       1.0
8                                       NaN
9                                      15.0
10                                     19.0
11                                      NaN
12                                      NaN
13                                      NaN
14                                      NaN
15                                      NaN
16                                      NaN
17                                      NaN
18                                      5.0
19                                      1.0
20                                      NaN
21                                      2.0
22                                      NaN
23                                      NaN
24                                      NaN
25                                      4.0
26                                      NaN
27                                      NaN
28                                      6.0

    adult_fem_obesity_track_Off course_2021  \
0                                        53
1                                        48
2                                         2
3                                        13
4                                         8
5                                         5
6                                        17
7                                         5
8                                        10
9                                        40
10                                      190
11                                       33
12                                        4
13                                        5
14                                        9
15                                        2
16                                        6
17                                        2
18                                       10
19                                       14
20                                        3
21                                       11
22                                       12
23                                        5
24                                        9
25                                       13
26                                       16
27                                       18
28                                        7

    adult_mal_diabetes_track_Off course_2021  \
0                                         53
1                                         48
2                                          1
3                                         13
4                                          8
5                                          5
6                                         17
7                                          5
8                                         10
9                                         34
10                                       182
11                                        33
12                                         4
13                                         4
14                                         9
15                                         2
16                                         6
17                                         2
18                                         5
19                                        12
20                                         3
21                                        11
22                                        12
23                                         5
24                                         9
25                                        13
26                                        16
27                                        18
28                                         6

    adult_mal_diabetes_track_On course_2021  \
0                                       NaN
1                                       NaN
2                                       1.0
3                                       NaN
4                                       NaN
5                                       NaN
6                                       NaN
7                                       NaN
8                                       NaN
9                                       6.0
10                                      8.0
11                                      NaN
12                                      NaN
13                                      1.0
14                                      NaN
15                                      NaN
16                                      NaN
17                                      NaN
18                                      5.0
19                                      2.0
20                                      NaN
21                                      NaN
22                                      NaN
23                                      NaN
24                                      NaN
25                                      NaN
26                                      NaN
27                                      NaN
28                                      1.0

    adult_mal_obesity_track_Off course_2021  ...  \
0                                        53  ...
1                                        48  ...
2                                         2  ...
3                                        13  ...
4                                         8  ...
5                                         5  ...
6                                        17  ...
7                                         5  ...
8                                        10  ...
9                                        40  ...
10                                      190  ...
11                                       33  ...
12                                        4  ...
13                                        5  ...
14                                        9  ...
15                                        2  ...
16                                        6  ...
17                                        2  ...
18                                       10  ...
19                                       14  ...
20                                        3  ...
21                                       11  ...
22                                       12  ...
23                                        5  ...
24                                        9  ...
25                                       13  ...
26                                       16  ...
27                                       18  ...
28                                        7  ...

    under_5_overweight_track_Off course_2021  \
0                                       25.0
1                                       15.0
2                                        1.0
3                                        1.0
4                                        1.0
5                                        NaN
6                                        3.0
7                                        4.0
8                                        1.0
9                                        3.0
10                                      50.0
11                                       4.0
12                                       1.0
13                                       1.0
14                                       5.0

Data for sheet Country diet:
     iso3      country  region       subregion disaggregation    disagg.value  \
0     AFG  Afghanistan    Asia   Southern Asia            age       0-1 month
1     AFG  Afghanistan    Asia   Southern Asia            age    12-15 months
2     AFG  Afghanistan    Asia   Southern Asia            age    12-23 months
3     AFG  Afghanistan    Asia   Southern Asia            age    16-19 months
4     AFG  Afghanistan    Asia   Southern Asia            age      2-3 months
...   ...          ...     ...             ...            ...             ...
3237  ZWE     Zimbabwe  Africa  Eastern Africa         wealth         Highest
3238  ZWE     Zimbabwe  Africa  Eastern Africa         wealth          Lowest
3239  ZWE     Zimbabwe  Africa  Eastern Africa         wealth          Middle
3240  ZWE     Zimbabwe  Africa  Eastern Africa         wealth  Second highest
3241  ZWE     Zimbabwe  Africa  Eastern Africa         wealth   Second lowest

     section  continued_breastfeeding_1yr_2000  \
0       Diet                               NaN
1       Diet                               NaN
2       Diet                               NaN
3       Diet                               NaN
4       Diet                               NaN
...      ...                               ...
3237    Diet                               NaN
3238    Diet                               NaN
3239    Diet                               NaN
3240    Diet                               NaN
3241    Diet                               NaN

      continued_breastfeeding_1yr_2001  continued_breastfeeding_1yr_2002  ...  \
0                                  NaN                               NaN  ...
1                                  NaN                               NaN  ...
2                                  NaN                               NaN  ...
3                                  NaN                               NaN  ...
4                                  NaN                               NaN  ...
...                                ...                               ...  ...
3237                               NaN                               NaN  ...
3238                               NaN                               NaN  ...
3239                               NaN                               NaN  ...
3240                               NaN                               NaN  ...
3241                               NaN                               NaN  ...

      solid_foods_2013  solid_foods_2014  solid_foods_2015  solid_foods_2016  \
0                  NaN               NaN               NaN               NaN
1                  NaN               NaN               NaN               NaN
2                  NaN               NaN               NaN               NaN
3                  NaN               NaN               NaN               NaN
4                  NaN               NaN               NaN               NaN
...                ...               ...               ...               ...
3237               NaN             93.03            100.00               NaN
3238               NaN             79.54             89.25               NaN
3239               NaN             87.55             95.13               NaN
3240               NaN             84.53             91.23               NaN
3241               NaN             91.93             83.93               NaN

      solid_foods_2017  solid_foods_2018  solid_foods_2019  solid_foods_2020  \
0                  NaN               NaN               NaN               NaN
1                  NaN               NaN               NaN               NaN
2                  NaN               NaN               NaN               NaN
3                  NaN               NaN               NaN               NaN
4                  NaN               NaN               NaN               NaN
...                ...               ...               ...               ...
3237               NaN               NaN             94.09               NaN
3238               NaN               NaN             85.97               NaN
3239               NaN               NaN             87.50               NaN
3240               NaN               NaN             95.25               NaN
3241               NaN               NaN             85.73               NaN

      Vegetables_2018  Whole grains_2018
0                 NaN                NaN
1                 NaN                NaN
2                 NaN                NaN
3                 NaN                NaN
4                 NaN                NaN
...               ...                ...
3237              NaN                NaN
3238              NaN                NaN
3239              NaN                NaN
3240              NaN                NaN
3241              NaN                NaN

[3242 rows x 140 columns]
Data for sheet Region diet:
             region disaggregation   disagg.value section  \
0            Africa       location         Target    Diet
1            Africa       location  Within target    Diet
2            Africa            sex           Both    Diet
3              Asia       location         Target    Diet
4              Asia       location  Within target    Diet
..              ...            ...            ...     ...
106    Western Asia       location  Within target    Diet
107    Western Asia            sex           Both    Diet
108  Western Europe       location   Sub-regional    Diet
109  Western Europe       location         Target    Diet
110  Western Europe       location  Within target    Diet

     continued_breastfeeding_1yr_2014-2020  Dairy_2018  \
0                                      NaN        1.00
1                                      NaN        1.00
2                                    65.84         NaN
3                                      NaN        1.00
4                                      NaN        1.00
..                                     ...         ...
106                                    NaN        1.00
107                                  42.07         NaN
108                                    NaN        2.33
109                                    NaN        1.00
110                                    NaN        1.00

     early_initiation_2014-2020  exclusive_breastfeeding_2014-2020  Fish_2018  \
0                           NaN                                NaN       1.00
1                           NaN                                NaN       1.00
2                         51.71                              44.38        NaN
3                           NaN                                NaN       1.00
4                           NaN                                NaN       1.00
..                          ...                                ...        ...
106                         NaN                                NaN       1.00
107                       51.73                              32.53        NaN
108                         NaN                                NaN       0.81
109                         NaN                                NaN       1.00
110                         NaN                                NaN       1.00

     Fruit_2018  Legumes_2018  minimum_accept_diet_2014-2020  \
0          1.00          1.00                            NaN
1          1.00          1.00                            NaN
2           NaN           NaN                          13.21
3          1.00          1.00                            NaN
4          1.00          1.00                            NaN
..          ...           ...                            ...
106        1.00          1.00                            NaN
107         NaN           NaN                            NaN
108        0.69          0.08                            NaN
109        1.00          1.00                            NaN
110        1.00          1.00                            NaN

     minimum_diet_diversity_2014-2020  minimum_meal_2014-2020  Nuts_2018  \
0                                 NaN                     NaN       1.00
1                                 NaN                     NaN       1.00
2                               23.81                   44.74        NaN
3                                 NaN                     NaN       1.00
4                                 NaN                     NaN       1.00
..                                ...                     ...        ...
106                               NaN                     NaN       1.00
107                               NaN                     NaN        NaN
108                               NaN                     NaN       0.13
109                               NaN                     NaN       1.00
110                               NaN                     NaN       1.00

     Red meat_2018  solid_foods_2014-2020  Vegetables_2018  Whole grains_2018
0             1.00                    NaN             1.00               1.00
1             1.00                    NaN             1.00               1.00
2              NaN                  75.41              NaN                NaN
3             1.00                    NaN             1.00               1.00
4             1.00                    NaN             1.00               1.00
..             ...                    ...              ...                ...
106           1.00                    NaN             1.00               1.00
107            NaN                  84.28              NaN                NaN
108           3.69                    NaN             0.54               0.46
109           1.00                    NaN             1.00               1.00
110           1.00                    NaN             1.00               1.00

[111 rows x 19 columns]

Data for sheet Country burden:
     iso3      country  region       subregion disaggregation    disagg.value  \
0     AFG  Afghanistan    Asia   Southern Asia            age     0-23 months
1     AFG  Afghanistan    Asia   Southern Asia            age    24-35 months
2     AFG  Afghanistan    Asia   Southern Asia            age    36-47 months
3     AFG  Afghanistan    Asia   Southern Asia            age    48-59 months
4     AFG  Afghanistan    Asia   Southern Asia            all       Free from
...   ...          ...     ...             ...            ...             ...
5901  ZWE     Zimbabwe  Africa  Eastern Africa         wealth         Highest
5902  ZWE     Zimbabwe  Africa  Eastern Africa         wealth          Lowest
5903  ZWE     Zimbabwe  Africa  Eastern Africa         wealth          Middle
5904  ZWE     Zimbabwe  Africa  Eastern Africa         wealth  Second highest
5905  ZWE     Zimbabwe  Africa  Eastern Africa         wealth   Second lowest

                     section  adolescent_obesity_2000  \
0     Burden of malnutrition                      NaN
1     Burden of malnutrition                      NaN
2     Burden of malnutrition                      NaN
3     Burden of malnutrition                      NaN
4     Burden of malnutrition                      NaN
...                      ...                      ...
5901  Burden of malnutrition                      NaN
5902  Burden of malnutrition                      NaN
5903  Burden of malnutrition                      NaN
5904  Burden of malnutrition                      NaN
5905  Burden of malnutrition                      NaN

      adolescent_obesity_2001  adolescent_obesity_2002  ...  wasting_2012  \
0                         NaN                      NaN  ...           NaN
1                         NaN                      NaN  ...           NaN
2                         NaN                      NaN  ...           NaN
3                         NaN                      NaN  ...           NaN
4                         NaN                      NaN  ...           NaN
...                       ...                      ...  ...           ...
5901                      NaN                      NaN  ...           NaN
5902                      NaN                      NaN  ...           NaN
5903                      NaN                      NaN  ...           NaN
5904                      NaN                      NaN  ...           NaN
5905                      NaN                      NaN  ...           NaN

      wasting_2013  wasting_2014  wasting_2015  wasting_2016  wasting_2017  \
0            12.62           NaN           NaN           NaN           NaN
1             8.70           NaN           NaN           NaN           NaN
2             6.63           NaN           NaN           NaN           NaN
3             6.39           NaN           NaN           NaN           NaN
4              NaN           NaN           NaN           NaN           NaN
...            ...           ...           ...           ...           ...
5901           NaN          1.99          1.69           NaN           NaN
5902           NaN          4.50          4.12           NaN           NaN
5903           NaN          2.57          3.04           NaN           NaN
5904           NaN          3.50          2.98           NaN           NaN
5905           NaN          3.21          4.04           NaN           NaN

      wasting_2018  wasting_2019  wasting_2020  wasting_2021
0             8.22           NaN           NaN           NaN
1             3.70           NaN           NaN           NaN
2             2.77           NaN           NaN           NaN
3             2.49           NaN           NaN           NaN
4              NaN           NaN           NaN           NaN
...            ...           ...           ...           ...
5901           NaN          2.00           NaN           NaN
5902           NaN          3.09           NaN           NaN
5903           NaN          2.37           NaN           NaN
5904           NaN          3.27           NaN           NaN
5905           NaN          3.40           NaN           NaN

[5906 rows x 324 columns]
Data for sheet Region burden:
             region disaggregation       disagg.value                 section  \
0            Africa            all                NaN  Burden of malnutrition
1            Africa          Cause              all-c  Burden of malnutrition
2            Africa          Cause             Cancer  Burden of malnutrition
3            Africa          Cause                CHD  Burden of malnutrition
4            Africa          Cause           Resp_Dis  Burden of malnutrition
..              ...            ...                ...                     ...
538  Western Europe            sex  Female Projection  Burden of malnutrition
539  Western Europe            sex              Girls  Burden of malnutrition
540  Western Europe            sex   Girls Projection  Burden of malnutrition
541  Western Europe            sex               Male  Burden of malnutrition
542  Western Europe            sex    Male Projection  Burden of malnutrition

     adolescent_obesity_2000  adolescent_obesity_2001  \
0                        NaN                      NaN
1                        NaN                      NaN
2                        NaN                      NaN
3                        NaN                      NaN
4                        NaN                      NaN
..                       ...                      ...
538                      NaN                      NaN
539                     4.68                     4.79
540                      NaN                      NaN
541                      NaN                      NaN
542                      NaN                      NaN

     adolescent_obesity_2002  adolescent_obesity_2003  \
0                        NaN                      NaN
1                        NaN                      NaN
2                        NaN                      NaN
3                        NaN                      NaN
4                        NaN                      NaN
..                       ...                      ...
538                      NaN                      NaN
539                      4.9                     5.02
540                      NaN                      NaN
541                      NaN                      NaN
542                      NaN                      NaN

     adolescent_obesity_2004  adolescent_obesity_2005  ...  stunting_2012  \
0                        NaN                      NaN  ...            NaN
1                        NaN                      NaN  ...            NaN
2                        NaN                      NaN  ...            NaN
3                        NaN                      NaN  ...            NaN
4                        NaN                      NaN  ...            NaN
..                       ...                      ...  ...            ...
538                      NaN                      NaN  ...            NaN
539                     5.13                     5.24  ...            NaN
540                      NaN                      NaN  ...            NaN
541                      NaN                      NaN  ...            NaN
542                      NaN                      NaN  ...            NaN

     stunting_2013  stunting_2014  stunting_2015  stunting_2016  \
0              NaN            NaN            NaN            NaN
1              NaN            NaN            NaN            NaN
2              NaN            NaN            NaN            NaN
3              NaN            NaN            NaN            NaN
4              NaN            NaN            NaN            NaN
..             ...            ...            ...            ...
538            NaN            NaN            NaN            NaN
539            NaN            NaN            NaN            NaN
540            NaN            NaN            NaN            NaN
541            NaN            NaN            NaN            NaN
542            NaN            NaN            NaN            NaN

     stunting_2017  stunting_2018  stunting_2019  stunting_2020  wasting_2020
0              NaN            NaN            NaN            NaN           NaN
1              NaN            NaN            NaN            NaN           NaN
2              NaN            NaN            NaN            NaN           NaN
3              NaN            NaN            NaN            NaN           NaN
4              NaN            NaN            NaN            NaN           NaN
..             ...            ...            ...            ...           ...
538            NaN            NaN            NaN            NaN           NaN
539            NaN            NaN            NaN            NaN           NaN
540            NaN            NaN            NaN            NaN           NaN
541            NaN            NaN            NaN            NaN           NaN
542            NaN            NaN            NaN            NaN           NaN

[543 rows x 264 columns]

Data for sheet Country strategies:
     iso3      country disaggregation    disagg.value  region       subregion  \
0     AFG  Afghanistan            all             NaN    Asia   Southern Asia
1     AFG  Afghanistan      education          Higher    Asia   Southern Asia
2     AFG  Afghanistan      education            None    Asia   Southern Asia
3     AFG  Afghanistan      education         Primary    Asia   Southern Asia
4     AFG  Afghanistan      education       Secondary    Asia   Southern Asia
...   ...          ...            ...             ...     ...             ...
2127  ZWE     Zimbabwe         wealth         Poorest  Africa  Eastern Africa
2128  ZWE     Zimbabwe         wealth         Richest  Africa  Eastern Africa
2129  ZWE     Zimbabwe         wealth          Second  Africa  Eastern Africa
2130  ZWE     Zimbabwe         wealth  Second highest  Africa  Eastern Africa
2131  ZWE     Zimbabwe         wealth   Second lowest  Africa  Eastern Africa

                                 section anaemia_plan blood_pressure_plan  \
0     Nutrition strategies and financing          Yes                  No
1     Nutrition strategies and financing          NaN                 NaN
2     Nutrition strategies and financing          NaN                 NaN
3     Nutrition strategies and financing          NaN                 NaN
4     Nutrition strategies and financing          NaN                 NaN
...                                  ...          ...                 ...
2127  Nutrition strategies and financing          NaN                 NaN
2128  Nutrition strategies and financing          NaN                 NaN
2129  Nutrition strategies and financing          NaN                 NaN
2130  Nutrition strategies and financing          NaN                 NaN
2131  Nutrition strategies and financing          NaN                 NaN

      BN_ODA_donated_2011  ...  vit_a_2012  vit_a_2013  vit_a_2014  \
0                     NaN  ...         NaN         NaN         NaN
1                     NaN  ...         NaN         NaN         NaN
2                     NaN  ...         NaN         NaN         NaN
3                     NaN  ...         NaN         NaN         NaN
4                     NaN  ...         NaN         NaN         NaN
...                   ...  ...         ...         ...         ...
2127                  NaN  ...         NaN         NaN         NaN
2128                  NaN  ...         NaN         NaN         NaN
2129                  NaN  ...         NaN         NaN         NaN
2130                  NaN  ...         NaN         NaN         NaN
2131                  NaN  ...         NaN         NaN         NaN

      vit_a_2015  vit_a_2016  vit_a_2017  vit_a_2018  vit_a_2019  vit_a_2020  \
0            NaN         NaN         NaN         NaN         NaN         NaN
1            NaN         NaN         NaN         NaN         NaN         NaN
2            NaN         NaN         NaN         NaN         NaN         NaN
3            NaN         NaN         NaN         NaN         NaN         NaN
4            NaN         NaN         NaN         NaN         NaN         NaN
...          ...         ...         ...         ...         ...         ...
2127         NaN         NaN         NaN         NaN         NaN         NaN
2128         NaN         NaN         NaN         NaN         NaN         NaN
2129         NaN         NaN         NaN         NaN         NaN         NaN
2130         NaN         NaN         NaN         NaN         NaN         NaN
2131         NaN         NaN         NaN         NaN         NaN         NaN

      wasting_plan
0              Yes
1              NaN
2              NaN
3              NaN
4              NaN
...            ...
2127           NaN
2128           NaN
2129           NaN
2130           NaN
2131           NaN

[2132 rows x 185 columns]
Data for sheet Region strategies:
                             region disaggregation  disagg.value  \
0                            Africa            all           NaN
1                              Asia            all           NaN
2         Australia and New Zealand            all           NaN
3                         Caribbean            all           NaN
4                   Central America            all           NaN
5                      Central Asia            all           NaN
6                    Eastern Africa            all           NaN
7                      Eastern Asia            all           NaN
8                    Eastern Europe            all           NaN
9                            Europe            all           NaN
10                           Global            all           NaN
11  Latin America and the Caribbean            all           NaN
12                        Melanesia            all           NaN
13                       Micronesia            all           NaN
14                    Middle Africa            all           NaN
15                    North America            all           NaN
16                  Northern Africa            all           NaN
17                 Northern America            all           NaN
18                  Northern Europe            all           NaN
19                          Oceania            all           NaN
20                        Polynesia            all           NaN
21               South-eastern Asia            all           NaN
22                    South America            all           NaN
23                  Southern Africa            all           NaN
24                    Southern Asia            all           NaN
25                  Southern Europe            all           NaN
26                   Western Africa            all           NaN
27                     Western Asia            all           NaN
28                   Western Europe            all           NaN

                               section  anaemia_plan_No_2021  \
0   Nutrition strategies and financing                  18.0
1   Nutrition strategies and financing                  19.0
2   Nutrition strategies and financing                   2.0
3   Nutrition strategies and financing                   6.0
4   Nutrition strategies and financing                   4.0
5   Nutrition strategies and financing                   2.0
6   Nutrition strategies and financing                   5.0
7   Nutrition strategies and financing                   2.0
8   Nutrition strategies and financing                   7.0
9   Nutrition strategies and financing                  37.0
10  Nutrition strategies and financing                 101.0
11  Nutrition strategies and financing                  18.0
12  Nutrition strategies and financing                   1.0
13  Nutrition strategies and financing                   4.0
14  Nutrition strategies and financing                   7.0
15  Nutrition strategies and financing                   1.0
16  Nutrition strategies and financing                   3.0
17  Nutrition strategies and financing                   1.0
18  Nutrition strategies and financing                   9.0
19  Nutrition strategies and financing                   8.0
20  Nutrition strategies and financing                   1.0
21  Nutrition strategies and financing                   2.0
22  Nutrition strategies and financing                   8.0
23  Nutrition strategies and financing                   1.0
24  Nutrition strategies and financing                   NaN
25  Nutrition strategies and financing                  14.0
26  Nutrition strategies and financing                   2.0
27  Nutrition strategies and financing                  13.0
28  Nutrition strategies and financing                   7.0

    anaemia_plan_No data_2021  anaemia_plan_Yes_2021  \
0                         NaN                   36.0
1                         1.0                   27.0
2                         NaN                    NaN
3                         1.0                    6.0
4                         NaN                    4.0
5                         NaN                    3.0
6                         NaN                   13.0
7                         NaN                    3.0
8                         NaN                    3.0
9                         1.0                    4.0
10                        3.0                   88.0
11                        1.0                   14.0
12                        NaN                    3.0
13                        NaN                    1.0
14                        NaN                    2.0
15                        NaN                    1.0
16                        NaN                    3.0
17                        NaN                    1.0
18                        NaN                    1.0
19                        NaN                    6.0
20                        NaN                    2.0
21                        NaN                    9.0
22                        NaN                    4.0
23                        NaN                    4.0
24                        NaN                    9.0
25                        NaN                    NaN
26                        NaN                   14.0
27                        1.0                    3.0
28                        1.0                    NaN

    blood_pressure_plan_No_2021  blood_pressure_plan_No data_2021  \
0                          24.0                               NaN
1                          16.0                               1.0
2                           1.0                               NaN
3                           4.0                               1.0
4                           5.0                               NaN
5                           2.0                               NaN
6                          10.0                               NaN
7                           NaN                               NaN
8                           5.0                               NaN
9                          25.0                               1.0
10                         85.0                               3.0
11                         15.0                               1.0
12                          1.0                               NaN
13                          1.0                               NaN
14                          5.0                               NaN
15                          1.0                               NaN
16                          1.0                               NaN
17                          1.0                               NaN
18                          8.0                               NaN
19                          4.0                               NaN
20                          1.0                               NaN
21                          3.0                               NaN
22                          6.0                               NaN
23                          2.0                               NaN
24                          2.0                               NaN
25                          7.0                               NaN
26                          6.0                               NaN
27                          9.0                               1.0
28                          5.0                               1.0

    blood_pressure_plan_Yes_2021  ...  stunting_plan_No data_2021  \
0                             30  ...                         NaN
1                             30  ...                         1.0
2                              1  ...                         NaN
3                              8  ...                         1.0
4                              3  ...                         NaN
5                              3  ...                         NaN
6                              8  ...                         NaN
7                              5  ...                         NaN
8                              5  ...                         NaN
9                             16  ...                         1.0
10                           104  ...                         3.0
11                            17  ...                         1.0
12                             3  ...                         NaN
13                             4  ...                         NaN
14                             4  ...                         NaN
15                             1  ...                         NaN
16                             5  ...                         NaN
17                             1  ...                         NaN
18                             2  ...                         NaN
19                            10  ...                         NaN
20                             2  ...                         NaN
21                             8  ...                         NaN
22                             6  ...                         NaN
23                             3  ...                         NaN
24                             7  ...                         NaN
25                             7  ...                         NaN
26                            10  ...                         NaN
27                             7  ...                         1.0
28                             2  ...                         1.0

    stunting_plan_Yes_2021  sugar_tax_No_2021  sugar_tax_Yes_2021  \
0                     47.0               31.0                23.0
1                     30.0               35.0                13.0
2                      NaN                2.0                 NaN
3                      7.0                9.0                 4.0
4                      7.0                NaN                 8.0
5                      2.0                5.0                 NaN
6                     15.0               10.0                 8.0
7                      4.0                5.0                 NaN
8                      3.0                9.0                 1.0
9                      5.0               31.0                12.0
10                   111.0              120.0                74.0
11                    24.0               12.0                21.0
12                     3.0                2.0                 2.0
13                     1.0                4.0                 1.0
14                     7.0                7.0                 2.0
15                     NaN                2.0                 NaN
16                     5.0                4.0                 2.0
17                     NaN                2.0                 NaN
18                     NaN                5.0                 5.0
19                     5.0                9.0                 5.0
20                     1.0                1.0                 2.0
21                     9.0                7.0                 4.0
22                    10.0                3.0                 9.0
23                     4.0                4.0                 1.0
24                     8.0                5.0                 4.0
25                     2.0               11.0                 3.0
26                    16.0                6.0                10.0
27                     7.0               13.0                 5.0
28                     NaN                6.0                 3.0

    trans_fatty_acids_policy_Don't know_2021  \
0                                        3.0
1                                        NaN
2                                        NaN
3                                        1.0
4                                        NaN
5                                        NaN
6                                        NaN
7                                        NaN
8                                        NaN
9                                        NaN
10                                       4.0
11                                       1.0
12                                       NaN
13                                       NaN
14                                       1.0
15                                       NaN
16                                       NaN
17                                       NaN
18                                       NaN
19                                       NaN
20                                       NaN
21                                       NaN
22                                       NaN
23                                       NaN
24                                       NaN
25                                       NaN
26                                       2.0
27                                       NaN
28                                       NaN

    trans_fatty_acids_policy_No_2021  trans_fatty_acids_policy_Yes_2021  \
0                               47.0                                4.0
1                               27.0                               20.0
2                                2.0                                NaN
3                               12.0                                NaN
4                                7.0                                1.0
5                                1.0                                4.0
6                               17.0                                1.0
7                                5.0                                NaN
8                                1.0                                9.0
9                                9.0                               33.0
10                             122.0                               66.0
11                              25.0                                7.0
12                               4.0                                NaN
13                               5.0                                NaN
14                               8.0                                NaN
15                               NaN                                2.0
16                               4.0                                2.0
17                               NaN                                2.0
18                               NaN                               10.0
19                              14.0                                NaN
20                               3.0                                NaN
21                               8.0                                3.0
22                               6.0                                6.0
23                               4.0                                1.0
24                               8.0                                1.0
25                               7.0                                7.0
26                              14.0                                NaN
27                               5.0                               12.0
28                               1.0                                7.0

    wasting_plan_No_2021  wasting_plan_No data_2021  wasting_plan_Yes_2021
0                    8.0                        NaN                   46.0
1                   21.0                        1.0                   25.0
2                    2.0                        NaN                    NaN
3                    6.0                        1.0                    6.0
4                    1.0                        NaN                    7.0
5                    3.0                        NaN                    2.0
6                    4.0                        NaN                   14.0
7                    2.0                        NaN                    3.0
8                    7.0                        NaN                    3.0
9                   37.0                        1.0                    4.0
10                  88.0                        3.0                  101.0
11                  12.0                        1.0                   20.0
12                   1.0                        NaN                    3.0
13                   3.0                        NaN                    2.0
14                   1.0                        NaN                    8.0

Data for sheet Country social:
    iso3      country disaggregation disagg.value  region       subregion  \
0    AFG  Afghanistan            all          NaN    Asia   Southern Asia
1    AFG  Afghanistan            sex         Both    Asia   Southern Asia
2    AFG  Afghanistan            sex         Boys    Asia   Southern Asia
3    AFG  Afghanistan            sex        Girls    Asia   Southern Asia
4    AGO       Angola            all          NaN  Africa   Middle Africa
..   ...          ...            ...          ...     ...             ...
768  ZMB       Zambia            sex        Girls  Africa  Eastern Africa
769  ZWE     Zimbabwe            all          NaN  Africa  Eastern Africa
770  ZWE     Zimbabwe            sex         Both  Africa  Eastern Africa
771  ZWE     Zimbabwe            sex         Boys  Africa  Eastern Africa
772  ZWE     Zimbabwe            sex        Girls  Africa  Eastern Africa

                              section  190_percent_2002  190_percent_2003  \
0    Social determinants of nutrition               NaN               NaN
1    Social determinants of nutrition               NaN               NaN
2    Social determinants of nutrition               NaN               NaN
3    Social determinants of nutrition               NaN               NaN
4    Social determinants of nutrition             36.65             39.54
..                                ...               ...               ...
768  Social determinants of nutrition               NaN               NaN
769  Social determinants of nutrition             12.90             19.96
770  Social determinants of nutrition               NaN               NaN
771  Social determinants of nutrition               NaN               NaN
772  Social determinants of nutrition               NaN               NaN

     190_percent_2004  ...  unimproved_water_2011  unimproved_water_2012  \
0                 NaN  ...                  28.22                  26.71
1                 NaN  ...                    NaN                    NaN
2                 NaN  ...                    NaN                    NaN
3                 NaN  ...                    NaN                    NaN
4               39.38  ...                  14.63                  15.30
..                ...  ...                    ...                    ...
768               NaN  ...                    NaN                    NaN
769             22.65  ...                  15.49                  15.60
770               NaN  ...                    NaN                    NaN
771               NaN  ...                    NaN                    NaN
772               NaN  ...                    NaN                    NaN

     unimproved_water_2013  unimproved_water_2014  unimproved_water_2015  \
0                    25.20                  23.68                  22.17
1                      NaN                    NaN                    NaN
2                      NaN                    NaN                    NaN
3                      NaN                    NaN                    NaN
4                    15.98                  16.67                  17.37
..                     ...                    ...                    ...
768                    NaN                    NaN                    NaN
769                  15.70                  15.80                  15.90
770                    NaN                    NaN                    NaN
771                    NaN                    NaN                    NaN
772                    NaN                    NaN                    NaN

     unimproved_water_2016  unimproved_water_2017  unimproved_water_2018  \
0                    20.65                  19.13                  17.60
1                      NaN                    NaN                    NaN
2                      NaN                    NaN                    NaN
3                      NaN                    NaN                    NaN
4                    18.08                  18.80                  19.52
..                     ...                    ...                    ...
768                    NaN                    NaN                    NaN
769                  15.99                  16.07                  16.14
770                    NaN                    NaN                    NaN
771                    NaN                    NaN                    NaN
772                    NaN                    NaN                    NaN

     unimproved_water_2019  unimproved_water_2020
0                    16.04                  14.56
1                      NaN                    NaN
2                      NaN                    NaN
3                      NaN                    NaN
4                    19.48                  19.45
..                     ...                    ...
768                    NaN                    NaN
769                  16.21                  16.28
770                    NaN                    NaN
771                    NaN                    NaN
772                    NaN                    NaN

[773 rows x 462 columns]
Data for sheet Region social:
                       region disaggregation disagg.value  \
0                      Africa            all          NaN
1                        Asia            all          NaN
2   Australia and New Zealand            all          NaN
3   Australia and New Zealand            sex         Both
4   Australia and New Zealand            sex         Boys
..                        ...            ...          ...
66               Western Asia            sex        Girls
67             Western Europe            all          NaN
68             Western Europe            sex         Both
69             Western Europe            sex         Boys
70             Western Europe            sex        Girls

                             section  190_percent_2002  190_percent_2003  \
0   Social determinants of nutrition             46.99             47.00
1   Social determinants of nutrition             30.30             28.57
2   Social determinants of nutrition              0.84              1.00
3   Social determinants of nutrition               NaN               NaN
4   Social determinants of nutrition               NaN               NaN
..                               ...               ...               ...
66  Social determinants of nutrition               NaN               NaN
67  Social determinants of nutrition              0.08              0.10
68  Social determinants of nutrition               NaN               NaN
69  Social determinants of nutrition               NaN               NaN
70  Social determinants of nutrition               NaN               NaN

    190_percent_2004  190_percent_2005  190_percent_2006  190_percent_2007  \
0              44.96             43.81             42.92             42.16
1              26.14             23.15             22.78             20.94
2               0.50              0.46              0.43              0.40
3                NaN               NaN               NaN               NaN
4                NaN               NaN               NaN               NaN
..               ...               ...               ...               ...
66               NaN               NaN               NaN               NaN
67              0.04              0.05              0.03              0.03
68               NaN               NaN               NaN               NaN
69               NaN               NaN               NaN               NaN
70               NaN               NaN               NaN               NaN

    ...  unimproved_water_2011  unimproved_water_2012  unimproved_water_2013  \
0   ...                    NaN                    NaN                    NaN
1   ...                   7.41                   6.98                   6.56
2   ...                    NaN                    NaN                    NaN
3   ...                    NaN                    NaN                    NaN
4   ...                    NaN                    NaN                    NaN
..  ...                    ...                    ...                    ...
66  ...                    NaN                    NaN                    NaN
67  ...                   0.01                   0.00                   0.00
68  ...                    NaN                    NaN                    NaN
69  ...                    NaN                    NaN                    NaN
70  ...                    NaN                    NaN                    NaN

    unimproved_water_2014  unimproved_water_2015  unimproved_water_2016  \
0                     NaN                    NaN                    NaN
1                    6.14                   5.74                   5.35
2                     NaN                    NaN                    NaN
3                     NaN                    NaN                    NaN
4                     NaN                    NaN                    NaN
..                    ...                    ...                    ...
66                    NaN                    NaN                    NaN
67                   0.00                   0.00                   0.00
68                    NaN                    NaN                    NaN
69                    NaN                    NaN                    NaN
70                    NaN                    NaN                    NaN

    unimproved_water_2017  unimproved_water_2018  unimproved_water_2019  \
0                     NaN                    NaN                    NaN
1                    4.96                   4.58                   4.21
2                     NaN                    NaN                    NaN
3                     NaN                    NaN                    NaN
4                     NaN                    NaN                    NaN
..                    ...                    ...                    ...
66                    NaN                    NaN                    NaN
67                   0.00                   0.00                   0.00
68                    NaN                    NaN                    NaN
69                    NaN                    NaN                    NaN
70                    NaN                    NaN                    NaN

    unimproved_water_2020
0                     NaN
1                    3.81
2                     NaN
3                     NaN
4                     NaN
..                    ...
66                    NaN
67                   0.00
68                    NaN
69                    NaN
70                    NaN

[71 rows x 361 columns]

Data for sheet Country environment:
     iso3      country  region       subregion disaggregation  \
0     AFG  Afghanistan    Asia   Southern Asia  emission_type
1     AFG  Afghanistan    Asia   Southern Asia  emission_type
2     AFG  Afghanistan    Asia   Southern Asia  emission_type
3     AFG  Afghanistan    Asia   Southern Asia  emission_type
4     AFG  Afghanistan    Asia   Southern Asia  emission_type
...   ...          ...     ...             ...            ...
2947  ZWE     Zimbabwe  Africa  Eastern Africa     food_group
2948  ZWE     Zimbabwe  Africa  Eastern Africa     food_group
2949  ZWE     Zimbabwe  Africa  Eastern Africa     food_group
2950  ZWE     Zimbabwe  Africa  Eastern Africa     food_group
2951  ZWE     Zimbabwe  Africa  Eastern Africa     food_group

                               disagg.value                section  \
0                            Freshwater use  Environmental impacts
1     Greenhouse gas emissions (life-cycle)  Environmental impacts
2                                  Land use  Environmental impacts
3                      Nitrogen application  Environmental impacts
4                    Phosphorus application  Environmental impacts
...                                     ...                    ...
2947                                   oils  Environmental impacts
2948                           pork_poultry  Environmental impacts
2949                                  roots  Environmental impacts
2950                                  sugar  Environmental impacts
2951                                  total  Environmental impacts

      environmental_impacts_beef_lamb_2018  environmental_impacts_eggs_2018  \
0                                     0.03                             0.00
1                                     0.35                             0.01
2                                     0.77                             0.00
3                                     0.03                             0.01
4                                     0.03                             0.01
...                                    ...                              ...
2947                                   NaN                              NaN
2948                                   NaN                              NaN
2949                                   NaN                              NaN
2950                                   NaN                              NaN
2951                                   NaN                              NaN

      environmental_impacts_fish_2018  ...  environmental_impacts_oils_2018  \
0                                 0.0  ...                             0.00
1                                 0.0  ...                             0.03
2                                 0.0  ...                             0.00
3                                 0.0  ...                             0.03
4                                 0.0  ...                             0.04
...                               ...  ...                              ...
2947                              NaN  ...                              NaN
2948                              NaN  ...                              NaN
2949                              NaN  ...                              NaN
2950                              NaN  ...                              NaN
2951                              NaN  ...                              NaN

      environmental_impacts_pork_poultry_2018  \
0                                        0.00
1                                        0.01
2                                        0.00
3                                        0.01
4                                        0.01
...                                       ...
2947                                      NaN
2948                                      NaN
2949                                      NaN
2950                                      NaN
2951                                      NaN

      environmental_impacts_roots_2018  environmental_impacts_sugar_2018  \
0                                 0.01                              0.03
1                                 0.00                              0.02
2                                 0.00                              0.00
3                                 0.00                              0.05
4                                 0.00                              0.06
...                                ...                               ...
2947                               NaN                               NaN
2948                               NaN                               NaN
2949                               NaN                               NaN
2950                               NaN                               NaN
2951                               NaN                               NaN

      impacts_total_2018  planetary_impacts_Cropland_2018  \
0                  27.23                              NaN
1                  63.64                              NaN
2                 662.87                              NaN
3                 272.60                              NaN
4                  40.01                              NaN
...                  ...                              ...
2947                 NaN                            12.50
2948                 NaN                             5.01
2949                 NaN                             1.11
2950                 NaN                             5.28
2951                 NaN                            78.90

      planetary_impacts_Freshwater_2018  \
0                                   NaN
1                                   NaN
2                                   NaN
3                                   NaN
4                                   NaN
...                                 ...
2947                               3.73
2948                               1.65
2949                               1.01
2950                              27.05
2951                              69.78

      planetary_impacts_Greenhouse gases_2018  \
0                                         NaN
1                                         NaN
2                                         NaN
3                                         NaN
4                                         NaN
...                                       ...
2947                                     2.02
2948                                     3.02
2949                                     0.31
2950                                     1.26
2951                                   175.75

      planetary_impacts_Nitrogen_2018  planetary_impacts_Phosphorus_2018
0                                 NaN                                NaN
1                                 NaN                                NaN
2                                 NaN                                NaN
3                                 NaN                                NaN
4                                 NaN                                NaN
...                               ...                                ...
2947                             7.32                              10.05
2948                             4.76                               3.85
2949                             1.25                               1.27
2950                            13.94                              10.83
2951                           102.38                              84.21

[2952 rows x 25 columns]
Data for sheet Region environment:
             region disaggregation                           disagg.value  \
0            Africa  emission_type                         Freshwater use
1            Africa  emission_type  Greenhouse gas emissions (life-cycle)
2            Africa  emission_type                               Land use
3            Africa  emission_type                   Nitrogen application
4            Africa  emission_type                 Phosphorus application
..              ...            ...                                    ...
497  Western Europe     food_group                                   oils
498  Western Europe     food_group                           pork_poultry
499  Western Europe     food_group                                  roots
500  Western Europe     food_group                                  sugar
501  Western Europe     food_group                                  total

                   section  environmental_impacts_beef_lamb_2018  \
0    Environmental impacts                                  3.63
1    Environmental impacts                                647.99
2    Environmental impacts                              11361.99
3    Environmental impacts                                257.68
4    Environmental impacts                                 39.02
..                     ...                                   ...
497  Environmental impacts                                   NaN
498  Environmental impacts                                   NaN
499  Environmental impacts                                   NaN
500  Environmental impacts                                   NaN
501  Environmental impacts                                   NaN

     environmental_impacts_eggs_2018  environmental_impacts_fish_2018  \
0                               1.82                             0.67
1                              19.57                            71.30
2                              26.26                            19.01
3                             182.71                            51.96
4                              24.93                            10.48
..                               ...                              ...
497                              NaN                              NaN
498                              NaN                              NaN
499                              NaN                              NaN
500                              NaN                              NaN
501                              NaN                              NaN

     environmental_impacts_fruit_veg_2018  environmental_impacts_grains_2018  \
0                                   57.89                              55.55
1                                  268.88                             804.70
2                                  195.46                            1047.21
3                                 1502.89                            3597.74
4                                  237.73                             481.64
..                                    ...                                ...
497                                   NaN                                NaN
498                                   NaN                                NaN
499                                   NaN                                NaN
500                                   NaN                                NaN
501                                   NaN                                NaN

     environmental_impacts_legumes_2018  ...  planetary_impacts_Cropland_2010  \
0                                  7.25  ...                              NaN
1                                 40.22  ...                              NaN
2                                286.36  ...                              NaN
3                                  4.35  ...                              NaN
4                                  7.19  ...                              NaN
..                                  ...  ...                              ...
497                                 NaN  ...                            19.40
498                                 NaN  ...                            52.11
499                                 NaN  ...                             3.65
500                                 NaN  ...                             7.73
501                                 NaN  ...                           212.43

     planetary_impacts_Cropland_2018  planetary_impacts_Freshwater_2010  \
0                                NaN                                NaN
1                                NaN                                NaN
2                                NaN                                NaN
3                                NaN                                NaN
4                                NaN                                NaN
..                               ...                                ...
497                            18.15                               5.55
498                            47.03                              12.73
499                             3.28                               3.32
500                             7.54                              39.58
501                           189.66                             154.64

     planetary_impacts_Freshwater_2018  \
0                                  NaN
1                                  NaN
2                                  NaN
3                                  NaN
4                                  NaN
..                                 ...
497                               5.43
498                              11.73
499                               2.98
500                              38.63
501                             145.83

     planetary_impacts_Greenhouse gases_2010  \
0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN
..                                       ...
497                                     4.14
498                                    51.96
499                                     1.02
500                                     1.84
501                                   478.87

     planetary_impacts_Greenhouse gases_2018  planetary_impacts_Nitrogen_2010  \
0                                        NaN                              NaN
1                                        NaN                              NaN
2                                        NaN                              NaN
3                                        NaN                              NaN
4                                        NaN                              NaN
..                                       ...                              ...
497                                     2.87                            12.04
498                                    45.80                            46.72
499                                     0.92                             4.11
500                                     1.79                            20.40
501                                   401.90                           231.33

     planetary_impacts_Nitrogen_2018  planetary_impacts_Phosphorus_2010  \
0                                NaN                                NaN
1                                NaN                                NaN
2                                NaN                                NaN
3                                NaN                                NaN
4                                NaN                                NaN
..                               ...                                ...
497                            10.58                              15.80
498                            42.32                              37.06
499                             3.69                               4.18
500                            19.91                              15.85
501                           212.86                             198.33

     planetary_impacts_Phosphorus_2018
0                                  NaN
1                                  NaN
2                                  NaN
3                                  NaN
4                                  NaN
..                                 ...
497                              14.58
498                              33.61
499                               3.76
500                              15.47
501                             180.73

[502 rows x 27 columns]

In [7]:
sheet_data_7 = pd.read_excel('Country-Nutrition-Profiles-data_February_2023.xlsx', sheet_name=6)
print(f"Data for sheet {sheet_name}: ")
print(sheet_data)

Data for sheet Region environment:
             region disaggregation                           disagg.value  \
0            Africa  emission_type                         Freshwater use
1            Africa  emission_type  Greenhouse gas emissions (life-cycle)
2            Africa  emission_type                               Land use
3            Africa  emission_type                   Nitrogen application
4            Africa  emission_type                 Phosphorus application
..              ...            ...                                    ...
497  Western Europe     food_group                                   oils
498  Western Europe     food_group                           pork_poultry
499  Western Europe     food_group                                  roots
500  Western Europe     food_group                                  sugar
501  Western Europe     food_group                                  total

                   section  environmental_impacts_beef_lamb_2018  \
0    Environmental impacts                                  3.63
1    Environmental impacts                                647.99
2    Environmental impacts                              11361.99
3    Environmental impacts                                257.68
4    Environmental impacts                                 39.02
..                     ...                                   ...
497  Environmental impacts                                   NaN
498  Environmental impacts                                   NaN
499  Environmental impacts                                   NaN
500  Environmental impacts                                   NaN
501  Environmental impacts                                   NaN

     environmental_impacts_eggs_2018  environmental_impacts_fish_2018  \
0                               1.82                             0.67
1                              19.57                            71.30
2                              26.26                            19.01
3                             182.71                            51.96
4                              24.93                            10.48
..                               ...                              ...
497                              NaN                              NaN
498                              NaN                              NaN
499                              NaN                              NaN
500                              NaN                              NaN
501                              NaN                              NaN

     environmental_impacts_fruit_veg_2018  environmental_impacts_grains_2018  \
0                                   57.89                              55.55
1                                  268.88                             804.70
2                                  195.46                            1047.21
3                                 1502.89                            3597.74
4                                  237.73                             481.64
..                                    ...                                ...
497                                   NaN                                NaN
498                                   NaN                                NaN
499                                   NaN                                NaN
500                                   NaN                                NaN
501                                   NaN                                NaN

     environmental_impacts_legumes_2018  ...  planetary_impacts_Cropland_2010  \
0                                  7.25  ...                              NaN
1                                 40.22  ...                              NaN
2                                286.36  ...                              NaN
3                                  4.35  ...                              NaN
4                                  7.19  ...                              NaN
..                                  ...  ...                              ...
497                                 NaN  ...                            19.40
498                                 NaN  ...                            52.11
499                                 NaN  ...                             3.65
500                                 NaN  ...                             7.73
501                                 NaN  ...                           212.43

     planetary_impacts_Cropland_2018  planetary_impacts_Freshwater_2010  \
0                                NaN                                NaN
1                                NaN                                NaN
2                                NaN                                NaN
3                                NaN                                NaN
4                                NaN                                NaN
..                               ...                                ...
497                            18.15                               5.55
498                            47.03                              12.73
499                             3.28                               3.32
500                             7.54                              39.58
501                           189.66                             154.64

     planetary_impacts_Freshwater_2018  \
0                                  NaN
1                                  NaN
2                                  NaN
3                                  NaN
4                                  NaN
..                                 ...
497                               5.43
498                              11.73
499                               2.98
500                              38.63
501                             145.83

     planetary_impacts_Greenhouse gases_2010  \
0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN
..                                       ...
497                                     4.14
498                                    51.96
499                                     1.02
500                                     1.84
501                                   478.87

     planetary_impacts_Greenhouse gases_2018  planetary_impacts_Nitrogen_2010  \
0                                        NaN                              NaN
1                                        NaN                              NaN
2                                        NaN                              NaN
3                                        NaN                              NaN
4                                        NaN                              NaN
..                                       ...                              ...
497                                     2.87                            12.04
498                                    45.80                            46.72
499                                     0.92                             4.11
500                                     1.79                            20.40
501                                   401.90                           231.33

     planetary_impacts_Nitrogen_2018  planetary_impacts_Phosphorus_2010  \
0                                NaN                                NaN
1                                NaN                                NaN
2                                NaN                                NaN
3                                NaN                                NaN
4                                NaN                                NaN
..                               ...                                ...
497                            10.58                              15.80
498                            42.32                              37.06
499                             3.69                               4.18
500                            19.91                              15.85
501                           212.86                             198.33

     planetary_impacts_Phosphorus_2018
0                                  NaN
1                                  NaN
2                                  NaN
3                                  NaN
4                                  NaN
..                                 ...
497                              14.58
498                              33.61
499                               3.76
500                              15.47
501                             180.73

[502 rows x 27 columns]

Preparation of the Data

In [8]:
# Let's find out more imformation on our data

sheet_data_7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5906 entries, 0 to 5905
Columns: 324 entries, iso3 to wasting_2021
dtypes: float64(317), object(7)
memory usage: 14.6+ MB

In [9]:
sheet_data_7.shape

(5906, 324)

In [10]:
sheet_data_7.isnull()

,iso3,country,region,subregion,disaggregation,disagg.value,section,adolescent_obesity_2000,adolescent_obesity_2001,adolescent_obesity_2002,...,wasting_2012,wasting_2013,wasting_2014,wasting_2015,wasting_2016,wasting_2017,wasting_2018,wasting_2019,wasting_2020,wasting_2021
0,False,False,False,False,False,False,False,True,True,True,...,True,False,True,True,True,True,False,True,True,True
1,False,False,False,False,False,False,False,True,True,True,...,True,False,True,True,True,True,False,True,True,True
2,False,False,False,False,False,False,False,True,True,True,...,True,False,True,True,True,True,False,True,True,True
3,False,False,False,False,False,False,False,True,True,True,...,True,False,True,True,True,True,False,True,True,True
4,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5901,False,False,False,False,False,False,False,True,True,True,...,True,True,False,False,True,True,True,False,True,True
5902,False,False,False,False,False,False,False,True,True,True,...,True,True,False,False,True,True,True,False,True,True
5903,False,False,False,False,False,False,False,True,True,True,...,True,True,False,False,True,True,True,False,True,True
5904,False,False,False,False,False,False,False,True,True,True,...,True,True,False,False,True,True,True,False,True,True
5905,False,False,False,False,False,False,False,True,True,True,...,True,True,False,False,True,True,True,False,True,True

In [11]:
df = sheet_data_7.dropna(axis=1)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5906 entries, 0 to 5905
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   iso3       5906 non-null   object
 1   country    5906 non-null   object
 2   region     5906 non-null   object
 3   subregion  5906 non-null   object
 4   section    5906 non-null   object
dtypes: object(5)
memory usage: 230.8+ KB

The dataset has no missing values and comprises of 14 rows and 28 columns having 24 float column data type, 3 object column data types and 1 integer column data type

In [13]:
# check for duplicate

df.duplicated().sum()

5712

In [14]:
sheet_data_7

,iso3,country,region,subregion,disaggregation,disagg.value,section,adolescent_obesity_2000,adolescent_obesity_2001,adolescent_obesity_2002,...,wasting_2012,wasting_2013,wasting_2014,wasting_2015,wasting_2016,wasting_2017,wasting_2018,wasting_2019,wasting_2020,wasting_2021
0,AFG,Afghanistan,Asia,Southern Asia,age,0-23 months,Burden of malnutrition,NaN,NaN,NaN,...,NaN,12.62,NaN,NaN,NaN,NaN,8.22,NaN,NaN,NaN
1,AFG,Afghanistan,Asia,Southern Asia,age,24-35 months,Burden of malnutrition,NaN,NaN,NaN,...,NaN,8.70,NaN,NaN,NaN,NaN,3.70,NaN,NaN,NaN
2,AFG,Afghanistan,Asia,Southern Asia,age,36-47 months,Burden of malnutrition,NaN,NaN,NaN,...,NaN,6.63,NaN,NaN,NaN,NaN,2.77,NaN,NaN,NaN
3,AFG,Afghanistan,Asia,Southern Asia,age,48-59 months,Burden of malnutrition,NaN,NaN,NaN,...,NaN,6.39,NaN,NaN,NaN,NaN,2.49,NaN,NaN,NaN
4,AFG,Afghanistan,Asia,Southern Asia,all,Free from,Burden of malnutrition,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5901,ZWE,Zimbabwe,Africa,Eastern Africa,wealth,Highest,Burden of malnutrition,NaN,NaN,NaN,...,NaN,NaN,1.99,1.69,NaN,NaN,NaN,2.00,NaN,NaN
5902,ZWE,Zimbabwe,Africa,Eastern Africa,wealth,Lowest,Burden of malnutrition,NaN,NaN,NaN,...,NaN,NaN,4.50,4.12,NaN,NaN,NaN,3.09,NaN,NaN
5903,ZWE,Zimbabwe,Africa,Eastern Africa,wealth,Middle,Burden of malnutrition,NaN,NaN,NaN,...,NaN,NaN,2.57,3.04,NaN,NaN,NaN,2.37,NaN,NaN
5904,ZWE,Zimbabwe,Africa,Eastern Africa,wealth,Second highest,Burden of malnutrition,NaN,NaN,NaN,...,NaN,NaN,3.50,2.98,NaN,NaN,NaN,3.27,NaN,NaN
5905,ZWE,Zimbabwe,Africa,Eastern Africa,wealth,Second lowest,Burden of malnutrition,NaN,NaN,NaN,...,NaN,NaN,3.21,4.04,NaN,NaN,NaN,3.40,NaN,NaN

# Handling categorical values

In [15]:
# Check for categorical columns
for col in df.columns:
  if df[col].dtypes == 'object':
    unique_cat = len(df[col].unique())
    print("Feature '{col_name}' has {unique_cat} categories".format(col_name=col, unique_cat=unique_cat))

print()

Feature 'iso3' has 194 categories
Feature 'country' has 194 categories
Feature 'region' has 6 categories
Feature 'subregion' has 22 categories
Feature 'section' has 1 categories